# Nix
result

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist/
build/
.next/
out/
coverage/

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.tsbuildinfo
