# Nix
result

# Java
target/
build/
.gradle/
.class
*.jar
*.war

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iml
.classpath
.project
.settings/
